import os
with open(os.path.join('/Users/nikitaravindran/Downloads/Video_Games_Streaming_Analytics/Model','Procfile'), "w") as file1:
    toFile = 'web: sh setup.sh && streamlit run bokeh_streamlit.py'
    
file1.write(toFile)